<div class="main-page-header">
  <nav>
    <a
      [routerLink]="['/info']" routerLinkActive="active">Info</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active">MAKE YOUR JOKEHUB</a>
  </nav>
</div>
  <div class="tags-up">
    <div class="first">
  <span class="header-text">JOKEHUB</span>
    <span>© 3885, Copyright is not working.</span>
    </div>
    <div class="second">
    <div class="websites">
    <nav>
      <a
        [routerLink]="['/insta']" routerLinkActive="active" >
        <svg icon="insta" class="tags-svg"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/tiktok']" routerLinkActive="active" >
        <svg icon="tiktok" class="tags-svg"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/app']" routerLinkActive="active" >
        <svg icon="app" class="tags-svg"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/facebook']" routerLinkActive="active" >
        <svg icon="facebook" class="tags-svg"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/telegram']" routerLinkActive="active" >
        <svg icon="telegram" class="tags-svg"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/utube']" routerLinkActive="active" >
        <svg icon="utube" class="tags-svg"></svg>
      </a>
    </nav>
    </div>
      <span>Not a Privacy policy</span>
    </div>
    <div class="third">
    <button [routerLink]="['/order']" class="order-btn">I WANNA GET MY JOKEHUB</button>
    <span>JOKEHUB is your home, your family, your future</span>
    </div>
</div>

