<app-header></app-header>
<div class="info-page">
  <img src="/img/tower1.png" class="info-img">
  <div class="info">
    <ul>
      <li><span class="joke-list">Website and App Design</span> Clean, user-friendly interface with easy navigation</li>
      <li><span class="joke-list">Social Media Presence</span> Regular posts with fresh jokes and humorous content</li>
      <li><span class="joke-list">Office Design and Atmosphere</span> Bright, open spaces with colorful wall art featuring popular jokes and funny quotes</li>
      <li><span class="joke-list">Office Design and Atmosphere</span>A “Joke Board” where employees and visitors can share their favorite jokes </li>
    </ul>
    <button [routerLink]="['/order']" class="order-btn">ORDER</button>
  </div>
  <img src="/img/tower2.png" class="info-img">
</div>
