<app-header></app-header>
<div class="main-page">
  <div class="main-text">
  <h1>JokeHub is a creative entertainment company specializing </h1>
  <h3>in the collection, creation, and distribution of jokes and humorous content.</h3>
  <ul>
    <li>Every joke you tell will bring you <span class="numbers">$10 000</span></li>
    <li><span class="numbers">90%</span> of the population will work for you</li>
    <li>All<span class="numbers">50%</span>from the company will go to your salary</li>
  </ul>
  <button [routerLink]="['/order']" class="order-btn">ORDER JOKEHUB</button>
  </div>
  <img class="main-tower-img" src="/img/mainTower.png">
</div>
<router-outlet></router-outlet>
